<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287171806622-9q8n0hge3qpb9a4hv9nir1q3755ji6ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287171806622-9q8n0hge3qpb9a4hv9nir1q3755ji6ma</string>
	<key>API_KEY</key>
	<string>AIzaSyB5-aPxo_VvpemtR9Dhf8lba9p8BCzJ83E</string>
	<key>GCM_SENDER_ID</key>
	<string>287171806622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>reactclifirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>reactclifirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287171806622:ios:4548bb6824b90fe978028f</string>
</dict>
</plist>